<section id="hero" class="d-flex flex-column justify-content-center align-items-center">

    <div class="hero-container" data-aos="fade-in">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="text-light">{{nombre}}</h1>
            </div>
            <div class="col-12 curso ">
                CURSO <img class="logop" src="../../../../../assets/img/logo_angular.fw.png" alt="">NGULAR V. 15 
                <a href="https://angular.io/guide/what-is-angular" target="_blank">¿?</a>
            </div>
            <div class="col-12">
                <h1 class="text-light">PROP&Oacute;SITO</h1>
            </div>
        </div>
    </div>
    <div class="hero-container" data-aos="fade-in">
        
        <table class="table table-bordered tutoriales"  WIDTH="50%">
            <thead>
                <tr>
                    <th class="text-center">VIDEO TUTORIAL # 1</th>
                    <th class="text-center" colspan="2">
                        <h3 class="text-light reloj">{{ hora|date:'h:mm:ss a'}} de {{fecha | date}}</h3>
                        
                    </th>
                </tr>
                <tr>
                    <th class="text-center">QU&Aacute; VEREMOS?</th>
                    <th class="text-center">CONTACTO</th>
                    <th class="text-center">COMANDOS A UTILIZAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ol>
                            <li>
                                <a href="https://git-scm.com/" target="_blank">Instalar Git</a> Opcional
                            </li>
                            <li>
                                <a href="https://code.visualstudio.com/" target="_blank">Instalar Visual Studio Code</a>
                               con el que se va a realizar el curso
                            </li>
                            <!-- <li>
                                <a href="https://github.com/nowen21/AngularAprendizaje/blob/main/README.md"
                                    target="_blank">Lista de comandos</a> los que más se utilizan
                            </li> -->
                            <li>
                                <a href="https://angular.io/guide/setup-local" target="_blank">Instalar Angular</a>
                            </li>
                            <li>
                                <a href="https://nodejs.org/en/" target="_blank">Instalar node js</a>
                            </li>
                        </ol>
                    </td>
                    <td>
                        <div class="social-links mt-3 ">
                            <ul>
                                <li>
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i> nowen21</a>
                                </li>
                                <li><a href="#" class="facebook"><i class="bx bxl-facebook"></i> jjimenezruiz1</a></li>
                                <li><a href="#" class="google-plus"><i class="bx bxl-skype"> nowen21</i></a></li>
                                <li><a href="#" class="linkedin">Linkedin: nowen21</a></li>
                                <li> <a href="#" class="linkedin"><i ></i>@ nowen21@gmail.com</a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin"><i class="bx bxl-whatsapp"></i> 057 3173809970</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Obtener versión de node: node -v</li>
                            <li>Instalar Angular CLI: npm install -g @angular/cli</li>
                            <li>Obtener versión npm: npm -v </li>
                            <!-- <li>Crar proyecto Angular: ng new nombreproyecto</li> -->
                            <li>Obtener versión de Angular: ng v </li>
                            <!-- <li>Entrar al proyecto creado: cd nombreproyecto</li> -->
                            <!-- <li>Arrancar el servidor: ng serve --open  o  ng serve--port 4201 --open  </li> -->
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section><!-- End Hero -->