<section id="hero" class="d-flex flex-column justify-content-center align-items-center">

    <div class="hero-container" data-aos="fade-in">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="text-light">{{nombre}}</h1>
            </div>
            <div class="col-12 curso ">
                CURSO <img class="logop" src="../../../../../assets/img/logo_angular.fw.png" alt="">NGULAR V. 15 
            </div>
           
        </div>
    </div>
    <div class="hero-container" data-aos="fade-in">
        
        <table class="table table-bordered tutoriales">
            <thead>
                <tr>
                    <th class="text-center">4. VIDEO TUTORIAL # 4</th>
                    <th class="text-center" >
                        <h3 class="text-light reloj">{{ hora|date:'h:mm:ss a'}} de {{fecha | date}}</h3>
                        
                    </th>
                </tr>
                <tr>
                    <th class="text-center">QU&Eacute; VEREMOS?</th>
                    <th class="text-center">CONTACTO</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>      
                        Integrar plantilla html5 con bootstrap 5 
                    </td>
                    <td>
                        <div class="social-links mt-3 ">
                            <ul>
                                <li>
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i> nowen21</a>
                                </li>
                                <li><a href="#" class="facebook"><i class="bx bxl-facebook"></i> jjimenezruiz1</a></li>
                                <li><a href="#" class="google-plus"><i class="bx bxl-skype"> nowen21</i></a></li>
                                <li><a href="#" class="linkedin">Linkedin: nowen21</a></li>
                                <li> <a href="#" class="linkedin"><i ></i>@ nowen21@gmail.com</a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin"><i class="bx bxl-whatsapp"></i> Unirse al grupo de Whatsapp en el link que se deja en la descripcion</a>
                                </li>
                                <li>
                                    <img class="logop" src="../../../../../assets/img/compartir.png" alt="">
                                </li>
                            </ul>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section><!-- End Hero -->